<html>
<head>
  <meta charset="UTF-8" />
  <title><%= forum.name %></title>
</head>
<body>
  <h1><a href="/"><%= forum.name %></a></h1>
  <h2><%= discussion.title %></h2>
  <p><a href="/submit.html">Start a Dicussion</a></p>
  <div>
    <% if (discussion.text) { %>
    <p><%= discussion.text %></p>
    <% } %>

    <% if (discussion.url) { %>
    <p><a href="<%= discussion.url %>" target="_blank"><%= discussion.url %></a></p>
    <% } %>
  </div>
  <div>
    <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="<%= discussBot.siteId %>" data-limit="<%= discussBot.limit %>" data-outlined="1"></script>
  </div>
</body>
</html>
